<mat-toolbar class="mat-elevation-z3">
    <button mat-icon-button (click)="collapsed = !collapsed">
        <mat-icon>
            menu
        </mat-icon>
    </button>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav opened mode="side" [style.width]="sidenavWidth()">
        <app-custom-sidenav (menuItemSelected)="receiveDataFromChild($event)" [collapsed]="collapsed"></app-custom-sidenav >
            <p>{{selectedComponent}}</p>
    </mat-sidenav>
    <mat-sidenav-content class="content" [style.margin-left]="sidenavWidth()">
        <app-comp-dinamico [switchCondition]="selectChildComponent"></app-comp-dinamico>
    </mat-sidenav-content>
</mat-sidenav-container>


