.loginSpacement {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none; /* Remover a borda padrão */
    font-family: "Poppins", sans-serif;
    background-image: url("../../../assets/images/loginBack.svg");
    background-size: cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  

.loginContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background: rgb(0, 112, 204);
  background: linear-gradient(
    90deg,
    rgba(0, 112, 204, 1) 0%,
    rgba(0, 170, 255, 1) 35%,
    rgba(120, 224, 255, 1) 100%
  );

  padding: 0px 50px 20px 100px;
  border-radius: 20px;
  border: 1px solid
    linear-gradient(
      90deg,
      rgba(0, 112, 204, 1) 0%,
      rgba(0, 170, 255, 1) 35%,
      rgba(120, 224, 255, 1) 100%
    );
}

.formContents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
}

.formContents .title h1 {
  justify-content: start;
  color: #fff;
}

.formContents form {
  display: flex;
  flex-direction: column;
}

.formContents form label {
  margin: 35px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imageSpacement {
    .imageSpacement {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 0; /* Adicionando margem zero */
        padding: 0; /* Adicionando preenchimento zero */
        box-sizing: border-box; /* Adicionando box-sizing para evitar surpresas */
      }
      
}

.imageSpacement p,
a {
  text-decoration: none;
  color: #ffffff;
}

.input-container {
  position: relative;
  margin: 30px 0px 20px 0px;
  width: 300px;
}

.input-container input {
  font-size: 15px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ffffff;
  padding: 5px 0;
  background-color: transparent;
  outline: none;
}

.input-container .label {
  position: absolute;
  top: -40px;
  left: 0;
  color: #ffffff;
  transition: all 0.3s ease;
  pointer-events: none;
}

.input-container input:focus ~ .label,
.input-container input:valid ~ .label {
  top: -55px;
  font-size: 16px;
  color: #333;
}

.input-container input:focus {
  font-size: 15px;
}

.input-container .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #333;
  transform: scaleX(0);
  transition: all 0.3s ease;
}

.input-container input[type="text"]:focus ~ .underline,
.input-container input[type="text"]:valid ~ .underline {
  transform: scaleX(1);
}

button {
  font-family: monospace;
  background-color: #8ac2f4;
  color: #fff;
  border: none;
  border-radius: 8px;
  width: 100px;
  height: 45px;
  transition: 0.3s;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #f3f7fe;
  box-shadow: 0 0 0 5px #3b83f65f;
  color: #3b82f6;
}
